:root {
  --main-blue: #146eb4;
  --white: #ffffff;
}
@font-face {
  font-family: "galano-semibold";
  src: url("./font/galanogrotesque-semibold.otf");
}
@font-face {
  font-family: "galano-regular";
  src: url("./font/galanogrotesque-regular.otf");
}
@font-face {
  font-family: "galano-medium";
  src: url("./font/galanogrotesque-medium.otf");
}

* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}